body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
.game-container {
    position: relative;
    width: 320px;
    height: 640px;
    border: 2px solid white;
}
canvas{
    display: block;
    background-color: black;
    margin: auto;
}